.header {
    background-color: #1f2937;
    color: white;
    margin: -10px;
}

.header a, button a {
    text-decoration: none;
    color: white;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header ul  {
    display: flex;
    gap: 40px;
    padding: 30px 100px;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.option1 {
    margin-left: auto;
}

.container1 {
    background-color: #1f2937;
    color: white;
    margin: -10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 200px;
}

.container1 li {
    margin: 10px;
}

.title1 {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif ;
}

img {
    flex-shrink: 0;
    border-radius: 20px;
}

button {
    background-color: #3882f6;
    border-color:white;
    margin: 10px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}

.title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    font-size: 36px;
    font-weight: 700;
}

.container2 {
    display: flex;
    justify-content: center;
    padding: 40px 100px;
    gap: 50px;
}

.text2 {
    text-align: center;
    margin: 15px;
}

.container3 {
    background-color: #e5e7eb;
    margin: -10px;
    padding: 40px 200px;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-style: italic;
}

.author {
    padding: 10px 80px;
    text-align: right;
    font-weight: 700;
}


.container4 {
    display: flex;
    justify-content: center;
    padding: 80px 100px;
}

.box {
    display: flex;
    background-color: #3882f6;
    padding: 20px;
    align-items: center;
    gap: 100px;
    border-radius: 7.5px;

}

.title3 {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.text3 {
    color: white;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: white;
    padding: 25px;
    margin: -10px;
}